#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

h1 {
  display: block;
}

#score {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}
form {
  text-align: center;
}

#game-over {
  display: none;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
}
body{
  text-align: center;
}

.high-score {
  font-weight: 400;
}